.orange,
.black {
    width: 170px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: var(--third-color);
    font-size: var(--xsmall-font-size);
}

.orange {
    background-color: var(--main-color);
}

.black {
    background-color: var(--second-color);
}
@media (max-width: 600px) {
    .orange,.black{
        width: 100px;
        font-size: var(--xxxsmall-font-size);
    }
}