.sectionForm {
    width: 100%;
    padding: 0 var(--main-padding) var(--main-padding);
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

form {
    width: 37%;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border-radius: 10px;
    padding: 25px 20px;
    background-color: var(--third-color);
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 33px;
}

.text textarea {
    background-color: var(--sixth-color);
    padding: 14px;
    border-radius: 23px;
    border: none;
}

.text textarea:focus {
    outline: none;
    color: var(--main-color);
}

form button {
    width: 210px;
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 10px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
}

iframe {
    height: 80%;
    border: none;
    border-radius: 10px;
    flex-grow: 1;
}

.contact {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.start {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 1288px) {
    .sectionForm {
        padding: var(--main-padding) var(--response-main-padding);
    }

    form {
        width: 80%;
    }

    .start {
        height: 650px;
    }
}

@media (max-width: 992px) {
    form {
        width: 100%;
    }

    .sectionForm,
    .start {
        gap: 20px;
    }
}

@media (max-width: 787px) {
    .contact {
        flex-direction: column;
    }
}