.properties {
    max-width: 1460px;
    margin: auto;
    padding: 100px var(--main-padding) var(--main-padding) var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.properties h1 {
    width: 360px;
    text-align: center;
}

@media (max-width: 1350px) {
    .properties {
        padding: var(--main-padding) var(--response-main-padding);
    }
}

@media (max-width: 500px) {
    .properties h1 {
        width: 100%;
    }
}