.bottomNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--response-main-padding) var(--main-padding);
  background-color: var(--third-color);
}

.bottomNav {
  padding: 30px var(--main-padding);
  position: fixed;
  z-index: 100;
}

.bottomNav.scrolled {
  top: 0;
  box-shadow: 0px 4px 16px 0px #1122110D;
}

.logoSide h1 {
  font-size: var(--medium-font-size);
  letter-spacing: 3px;
  color: var(--second-color);
}

.endSide {
  display: flex;
  align-items: center;
  gap: 60px;
}

.endSide a {
  position: relative;
  color: var(--second-color);
}

.endSide a::after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: var(--main-color);
  left: 0;
  bottom: -4px;
  transition: width .4s ease-in-out;
  width: 0;
}

.endSide a:hover::after {
  width: 100%;
}

.endSide .active {
  color: var(--main-color);
}

.menuToggle {
  font-size: var(--large-font-size);
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--third-color);
  color: var(--second-color);
}

.bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar span {
  width: 30px;
  height: 5px;
  background-color: var(--second-color);
  border-radius: 2px;
}

.bar span:nth-last-of-type(2) {
  width: 38px;
}

@media screen and (max-width:1350px) {
  .endSide {
    gap: 20px;
  }

  nav a {
    font-size: var(--xxsmall-font-size);
  }
}

@media (min-width: 992px) {

  .menuToggle,
  .display {
    display: none;
  }
}

@media (max-width: 992px) {

  .bottomNav {
    padding: var(--response-second-padding);
  }

  .endSide {
    display: none;
  }

  .endSide {
    flex-direction: column;
    align-items: flex-start;
  }

  .endSide.showMenu {
    display: flex;
  }

  .bottomNav.showMenu {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .logoSide.showMenu {
    display: none;
  }
}