.contactUs {
    width: 100%;
    position: relative;
    margin-bottom: 37rem;
}

.contactUs h1 {
    width: 20%;
    color: var(--third-color);
    font-size: var(--large-font-size);
    text-align: center;
    margin-bottom: 3rem;
}

.contactUs .background {
    background-image: url(../../assets/images/contact-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--main-padding) 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.formLanding {
    width: 100%;
    position: absolute;
    bottom: -37rem;
}

@media (max-width: 1288px) {
    .formLanding {
        bottom: -83rem;
    }

    .contactUs {
        margin-bottom: 77rem;
    }
}

@media (max-width: 992px) {
    .contactUs h1 {
        width: 90%;
    }

    .formLanding {
        bottom: -73rem;
    }
}