.InfoAppartment {
    max-width: 1460px;
    margin: auto;
    padding: var(--second-padding) var(--main-padding);
    display: flex;
    justify-content: center;
    gap: 3%;
}

.InfoAppartment div:nth-of-type(1) {
    position: relative;
}

.featuredIcon {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    left: 0;
}

.contentInfo {
    width: 32%;
}

.up h1 {
    font-size: var(--xlarge-font-size);
    margin-top: 11px;
}

.mainImage {
    width: 350px;
    padding-left: 50px;
}
.cardComponent {
    height: max-content;
    width: 36%;
}
@media (max-width: 1296px) {

    .InfoAppartment{
        flex-wrap: wrap;
    }
    .cardComponent {
        width: 70%;
    }
}

@media (max-width: 992px) {
    .InfoAppartment {
        padding: var(--response-main-padding);
    }

    .InfoAppartment {
        flex-direction: column;
        align-items: center;
        gap: 17px;
    }

    .contentInfo,.cardComponent {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .mainImage {
        width: 90%;
        margin-left: 20px;
    }

    .featuredIcon {
        left: -.3rem;
    }
}