.footer {
    padding: 40px var(--main-padding);
    background-color: var(--second-color);
    text-align: center;
  }
  

.footer p {
    color: var(--third-color);
    font-size: var(--xxsmall-font-size);
}