footer {
    width: 100%;
    padding: 40px var(--main-padding);
    background-color: var(--second-color);
    margin-top: 37rem;
}

footer p {
    color: var(--third-color);
    font-size: var(--xxsmall-font-size);
}

@media (max-width: 1288px) {
    footer {
        margin-top: 80rem;
        text-align: center;
    }
}